R/CrossProfileTestApp.apk
R/CtsEmptyDeviceAdmin.apk
R/CtsEmptyDeviceOwner.apk
R/CtsPermissionApp.apk
R/CtsVerifier.apk
R/CtsVpnFirewallAppApi23.apk
R/CtsVpnFirewallAppApi24.apk
R/CtsVpnFirewallAppNotAlwaysOn.apk
R/NotificationBot.apk
R/__pycache__/BYOD_Managed_Provisioning.cpython-310.pyc
R/__pycache__/BYOD_Provisioning_tests.cpython-310.pyc
R/__pycache__/byod.cpython-310.pyc
R/__pycache__/Device_Owner_Requesting_Bugreport_Tests.cpython-310.pyc
R/__pycache__/Device_Owner_Tests.cpython-310.pyc
R/__pycache__/factory_reset.cpython-310.pyc
R/__pycache__/Setup.cpython-310.pyc
R/__pycache__/setup.cpython-310.pyc
S/CrossProfileTestApp.apk
S/CtsEmptyDeviceAdmin.apk
S/CtsEmptyDeviceOwner.apk
S/CtsPermissionApp.apk
S/CtsVerifier.apk
S/CtsVpnFirewallAppApi23.apk
S/CtsVpnFirewallAppApi24.apk
S/CtsVpnFirewallAppNotAlwaysOn.apk
S/NotificationBot.apk
S/__pycache__/BYOD_Managed_Provisioning.cpython-310.pyc
S/__pycache__/BYOD_Provisioning_tests.cpython-310.pyc
S/__pycache__/byod.cpython-310.pyc
S/__pycache__/Device_Owner_Requesting_Bugreport_Tests.cpython-310.pyc
S/__pycache__/Device_Owner_Tests.cpython-310.pyc
S/__pycache__/factory_reset.cpython-310.pyc
S/__pycache__/Setup.cpython-310.pyc
S/__pycache__/setup.cpython-310.pyc
